.front-page {
    padding: 0 48px;
    display: flex;
    flex-direction: column;
}

/* Heading component */
.heading {
    padding: 32px 0 88px 0;
} 

.heading-title {
    padding-bottom: 32px;
}

/* Details component */
.details {
    display: flex;
    flex-direction: column;
}

.details > div {
    margin-bottom: 32px;
}

.details > h3 {
    padding-bottom: 24px;
}

.details > div > h4 {
    padding-bottom: 24px;
}

/* Demo component */
.details .demo {
    padding-bottom: 88px;
}

.demo > .url {
    display: flex;
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-size: inherit;
    overflow-x: auto;
    white-space: nowrap;
}

.demo > .url > h3 {
    padding-right: 8px;
}

.demo code {
    border-radius: 5px 0 0 5px;
    line-height: 1.4em;
}

.demo input[type="text" i] {
    background-color: #808F87;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: inherit;
    padding-left: 2px;
}

.demo input[type="text" i]::placeholder {
    color: #DEDEDE;
}

.demo input[type="submit" i]{
    margin-left: 16px;
    padding: 0 12px;
    border-radius: 5px;
    border: solid 1px #333333;
}

.demo input[type="submit" i]:hover{
    cursor: pointer;
}

.demo .results-title {
    padding-bottom: 8px;
}

.demo .results {
    background-color: #233659;
    overflow-y: auto;
    height: 180px;
    border: none;
    border-radius: 5px;
    overflow-x: auto;
}

.demo .results > h4 pre{
    color: white;
}

/* Example component */
.example h5 {
    font-weight: normal;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 12px;
}

/* general table formatting */
.details table{
    margin-left: 32px;
    border-spacing: 16px;
}

.details .methods-table {
    margin-left: 0;
}

.details .methods-table-wrapper {
    margin-left: 32px;
}

table code {
    background-color: #808F87;
}

.methods-table {
    min-width: 815px;
}

.methods-table-wrapper {
    overflow-x: auto;
}

/* Chapter component */
.details > div.chapter-code {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #C1C8C4; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 750px) {
    .heading-title {
        font-size: 1.3em;
    }
    p {
        font-size: 0.8em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.8em;
    }

    code {
        font-size: 0.7em;
    }

    table {
        font-size: 0.7em;
    }

    .details table{
        margin-left: 20px;
        border-spacing: 12px;
    }
    
    .details .methods-table-wrapper {
        margin-left: 20px;
    }

    .details > div {
        margin-bottom: 20px;
    }
    
    .details > h3 {
        padding-bottom: 18px;
    }
    
    .details > div > h4 {
        padding-bottom: 18px;
    }

    .demo input[type="text" i] {
        font-size: 0.7em;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
}