.front-page {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

/* Heading component */
.heading {
    padding: 32px 0 88px 0;
} 

.heading-title {
    padding-bottom: 32px;
}

/* Details component */
.details {
    display: flex;
    flex-direction: column;
}

.details > div {
    padding-bottom: 32px;
}

.details > h3 {
    padding-bottom: 24px;
}

.details > div > h4 {
    padding-bottom: 24px;
}

/* Demo component */
.details .demo {
    padding-bottom: 104px;
}

.demo > .url {
    display: flex;
    padding-bottom: 16px;
    font-size: inherit;
}

.demo > .url > h3 {
    padding-right: 8px;
}

.demo code {
    border-radius: 5px 0 0 5px;
}

.demo input[type="text" i] {
    background-color: #808F87;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: inherit;
    padding-left: 2px;
}

.demo input[type="submit" i]{
    margin-left: 16px;
    padding: 0 12px;
    border-radius: 5px;
    border: solid 1px #333333;
}

.demo input[type="submit" i]:hover{
    cursor: pointer;
}


/* Example component */
.example h5 {
    font-weight: normal;
}

/* general table formatting */
.details > div > table{
    padding-left: 32px;
    border-spacing: 16px;
}

table code {
    background-color: #808F87;
}

/* Chapter component */
.details > div.chapter-code {
    padding-bottom: 0;
}